label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}input,

label {
    margin: .4rem 0;
}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {